<h2>Wypożyczenia</h2>
<% if can? :index, Rental %>
    <table class="table table-striped">
        <tr>
            <th scope="col">Gra</th>
            <th scope="col">Data wypożyczenia</th>
            <th scope="col">Data oddania</th>
            <th scope="col">Użytkownik</th>
            <% if can? :manage, Rental %>
                <th scope="col">Akcja</th>
            <% end %>
        </tr>
        <%= render partial: "rental", collection: @rentals %>
            
    </table>
<% end %>