// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.games-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.games {
    display: flex;
}

.game-card {
    width: 240px;
    height: 420px;

    img {
        margin-left: 20px;
        margin-right: 20px;
        width: 200px;
        height: 200px;
    }
}

.validation-error {
    max-width: 400px;
    margin: 10px;
}

.search-form {
    margin: 20px;
    width: 500px;
    text-align: center;
}

.form-section {
    display: flex;
    margin: 20px;

    label {
        margin-right: 10px;
        width: 150px;
        text-align: center;
    }

    input, textarea {
        width: 300px;
    }

    textarea {
        height: 200px;
    }
}

h1 {
    text-align: center;
}

.pager {
    display: flex;
    align-content: center;
    justify-content: center;

    li {
        margin: 20px;
        list-style: none;
    }

    .previous {
        text-align: left;
        
    }

    .next {
        text-align: right;
    }
}
